html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}
.tabs-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.activity-tab{
  width: 50%;
}
.activity-tab button{
  padding: 10px 15px;
  border: none;
  font-size: 18px;
  width: 100%;
 font-family: Arial;
  cursor: pointer;
  box-sizing: border-box;
}
.active-tab button{
  font-weight: 600;
  border-bottom: 2px solid red;
}
.custom-button button{
  margin: 15px 0 0 20px;
  padding: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.date-container{
  text-align: center;
}
.single-list{
  display: flex;
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  justify-content: space-around;
}
.more-container button{
  padding: 5px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
}
.more-details-inner{
  width: 100%;
  height: 100%;
  background-color: white;
  /* position: absolute; */
  top: 100px;
}
.top-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top-text p{
  font-size: 18px;
  font-weight: 600;
}
.cross-container p{
  font-size: 20px;
  cursor: pointer;
}
.details-container{
  width: 80%;
  margin: 0 auto;
}
.details-container span{
  font-weight: 600;
  font-size: 16px;
}
.more-action-button button{
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;  
  cursor: pointer;
}
.loading-text{
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 20px;

}
.hidden-more {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: white;
  width: 376px;
  height: 626px;
}

.hidden-more.slide-in {
  transform: translateX(0);
}

.hidden-more.slide-out {
  transform: translateX(100%);
}
.outer-intermediate{
  position: relative;
}